@import 'src/common/styles/variables';

.paginate {
  ul {
    list-style: none;
    display   : flex;
    gap       : 15px;
    z-index   : 1;

    li {
      border-radius: 50%;

      a {
        width          : 25px;
        height         : 25px;
        display        : flex;
        justify-content: center;
        align-items    : center;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .disabled {
      display: none;
    }
  }

  &.light {
    color           : $color-light;
    background-color: $bg-color-light;

    ul {
      .selected {
        background-color: $bg-color-dark;

        a {
          color: $color-dark;
        }
      }

      li {
        border: 1px solid $border-color-light;

        a {
          color: $color-light;
        }
      }
    }
  }

  &.dark {
    color           : $color-dark;
    background-color: $bg-color-dark;

    ul {
      .selected {
        background-color: $bg-color-light;

        a {
          color: $color-light;
        }
      }

      li {
        border: 1px solid $border-color-dark;

        a {
          color: $color-dark;
        }
      }
    }
  }
}