ul {
  list-style: none;
  display   : flex;
  gap       : 15px;

  .selected {
    background-color: #000;

    a {
      color: #fff;
    }
  }

  li {
    border         : 1px solid #000;
    border-radius  : 50%;
    
    a {
      width          : 25px;
      height         : 25px;
      display        : flex;
      justify-content: center;
      align-items    : center;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .disabled {
    opacity: 0.3;
  }
}