@import 'normalize.css';
@import 'src/common/styles/variables';

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  font-size     : 62.5%;
  font-family   : Nunito, sans-serif;
  // font-family: Poppins,sans-serif;
  user-select: none;

  &::-webkit-scrollbar {
    border-radius: 0;
    width        : 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius   : 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-track {
    border-radius   : 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

body {
  font-size       : 1.6rem;
  line-height     : 1.5;
  text-rendering  : optimizeSpeed;
  color           : $text-color;
  background-color: $bg-color;
  overflow-y      : overlay;
}

a {
  text-decoration: none;
  color: $text-color;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
  background-color: unset;
}