@import 'normalize.css';
@import 'src/common/styles/variables';

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  font-size     : 62.5%;
  font-family   : Nunito, sans-serif;
  // font-family: Poppins,sans-serif;
  user-select   : none;

  &::-webkit-scrollbar {
    border-radius: 0;
    width        : 5px;
    display      : none;
  }

  &::-webkit-scrollbar-thumb {
    border-radius   : 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-track {
    border-radius   : 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

body {
  font-size       : 1.6rem;
  line-height     : 1.5;
  text-rendering  : optimizeSpeed;
  color           : $text-color;
  background-color: $bg-color;
  overflow-y      : overlay;
  overflow-x      : hidden;
}

a {
  text-decoration: none;
  color          : $text-color;
}

label {
  font-size  : 18px;
  font-weight: 600;
}

input,
select {
  outline    : none;
  border     : none;
  line-height: 1.5;
}

textarea {
  resize : none;
  outline: none;

  &::-webkit-scrollbar {
    border-radius: 0;
    width        : 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius   : 4px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::-webkit-scrollbar-track {
    border-radius   : 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

button {
  border          : none;
  background-color: unset;
}

.ReactModal__Overlay--after-open {
  &:has(.ReactModal__Content--after-open > .light) {
    background-color: rgba(255, 255, 255, 0.75) !important;
  }

  &:has(.ReactModal__Content--after-open > .dark) {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }
}

// Tablet
// @media only screen and (min-width: 740px) and (max-width: 1024px) {

// }

// Mobile
@media only screen and (max-width: 740px) {
  body {
    font-size: 1.8rem;
  }
}