@import 'src/common/styles/variables';

.form {
  width          : $form-width;
  padding        : 20px 20px;
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-items    : center;

  .form-title {
    font-size : $form-title-font-size;
    text-align: center;
  }

  .form-content {
    width         : 100%;
    display       : flex;
    flex-direction: column;
    gap           : 20px;
    font-size     : 16px;

    .form-input-wrapper {
      display       : flex;
      flex-direction: column;
      gap           : 10px;

      label {
        padding: 0 5px;
        font-size: 20px;
        font-weight: 400;
      }

      .input-row {
        position: relative;

        input {
          width        : 100%;
          height       : 40px;
          padding      : 0 30px 0 5px;
          font-size    : 18px;
          color        : #000;
          border-bottom: 2px solid #999;

          &:focus {
            border-bottom: 2px solid #000;
          }

          &:not(:placeholder-shown) {
            border-bottom: 2px solid #000;
          }
        }

        span {
          position : absolute;
          right    : 0;
          bottom   : 50%;
          transform: translateY(50%);

          svg {
            width: 30px;
            font-size: 18px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

    }
  }

  .form-button {
    .btn-submit {
      width        : $form-button-width;
      padding      : 10px 0;
      text-align   : center;
      border-radius: 30px;

      &:hover {
        cursor          : pointer;
      }
    }
  }

  .form-action {
    width          : 100%;
    display        : flex;
    justify-content: space-between;

    .action {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &.light {
    color           : $color-light;
    background-color: $bg-color-light;

    .form-content {  
      .form-input-wrapper {  
        .input-row {  
          input {
            color           : $color-light;
            background-color: $bg-color-light;
            border-bottom: 2px solid $border-color-light-disable;
  
            &:focus {
              border-bottom: 2px solid #000;
            }
  
            &:not(:placeholder-shown) {
              border-bottom: 2px solid #000;
            }
          }
        }
      }
    }

    .form-button {
      .btn-submit {
        border       : 2px solid $border-color-light;
  
        &:hover {
          cursor          : pointer;
        }
      }
    }
  }

  &.dark {
    color           : $color-dark;
    background-color: $bg-color-dark;

    .form-content {  
      .form-input-wrapper {  
        .input-row {  
          input {
            color           : $color-dark;
            background-color: $bg-color-dark;
            border-bottom: 2px solid $border-color-dark-disable;
  
            &:focus {
              border-bottom: 2px solid #fff;
            }
  
            &:not(:placeholder-shown) {
              border-bottom: 2px solid #fff;
            }
          }
        }
      }
    }

    .form-button {
      .btn-submit {
        border       : 2px solid $border-color-dark;
  
        &:hover {
          cursor          : pointer;
        }
      }
    }
  }
}

// Tablet
// @media only screen and (min-width: 740px) and (max-width: 1024px) {

// }

// Mobile
@media only screen and (max-width: 740px) {
  .form {
    width          : $form-width-mobile;
  }
}