// Content
$content-width       : 950px;
$content-width-tablet: 100vw;
$content-width-mobile: 100vw;

// Header
$header-width  : 100%;
$header-height : 50px;

$header-width-mobile  : 100vw;
$header-height-mobile : 50px;

$header-left-width  : calc($content-width / 100 * 25);
$header-center-width: calc($content-width / 100 * 50);
$header-right-width : calc($content-width / 100 * 25);

$header-btn-width    : 32px;
$header-btn-height   : 32px;
$header-btn-font-size: 24px;

// Loading
$loading-width        : 70px;
$loading-height       : 70px;
$loading-width-tablet : 60px;
$loading-height-tablet: 60px;
$loading-width-mobile : 60px;
$loading-height-mobile: 60px;
$loading-color        : #2272FF;

// Nav
$nav-width             : 100%;
$nav-height            : 50px;
$nav-width-tablet      : 100vw;
$nav-height-tablet     : 50px;
$nav-width-mobile      : 100vw;
$nav-height-mobile     : 50px;
// Nav item
$nav-item-width        : calc(($content-width - $loading-width) / 4);
$nav-item-width-tablet : calc(($content-width-tablet - $loading-width) / 4);
$nav-item-width-mobile : calc(($content-width-mobile - $loading-width) / 4);

// Nav item color
$bar-item-hover-color: #ccc;

// button
$sign-button-width        : 400px;
$sign-button-width-mobile : calc($content-width-mobile - 100px);
// button color

//
$content-padding-top    : 15px;
$content-padding-side   : 20px;
$content-padding-bottom : 25px;


$content-padding-top-mobile   : 10px;
$content-padding-side-mobile  : 15px;
$content-padding-bottom-mobile: 10px;


//
$content-inside-width     : calc($content-width - 40px);
$content-height           : calc(100vh - $header-height - $nav-height);
$content-inside-min-height: calc($content-height - 40px);

$content-min-height-mobile    : calc(100vh - $header-height-mobile - $nav-height-mobile);
$content-inside-width-mobile  : calc($content-width-mobile - $content-padding-side * 2);
$content-inside-height-mobile : calc(100vh - $header-height-mobile - $nav-height-mobile);

//
$menu-padding-side-mobile : 10px;
$menu-inside-width-mobile : calc($content-width-mobile - $menu-padding-side-mobile * 2);
$menu-height-mobile       : calc(100vh - $header-height-mobile - $nav-height-mobile);

// Category item
$category-item-width    : calc(100% / 5);
$category-item-height   : 160px;
$category-item-img-width: 90px;

$category-item-width-mobile    : 45%;
$category-item-height-mobile   : 160px;
$category-item-img-width-mobile: 80px;

// Result nav
$result-nav-height: 40px;

// Result nav item
$result-nav-item-width     : calc($content-inside-width / 2);
$result-nav-item-height    : 35px;
$result-nav-item-font-size : 18px;

//
$result-item-height : 40px;

//
$result-item-width-mobile  : 45%;
$result-item-height-mobile : 40px;


// Result
$result-header-font-size: 24px;

// Manage menu
$manage-menu-width-mobile: 100vw;

$manage-menu-header-height: 40px;
$manage-menu-item-height  : 30px;
$manage-title-font-size   : 24px;

//
$setting-menu-width-mobile: 100vw;

$setting-menu-header-height: 40px;
$setting-menu-item-height  : 30px;
$setting-title-font-size   : 24px;

//
$setting-menu-theme-width-mobile: 40%;

// Font size
$default-font-size: 16px;

// Text color
$text-color           : #000;
$text-color-bar       : #888;
$text-color-bar-active: #000;


// Background color
$bg-color      : #fff;
$bg-color-bar  : #fff;
$bg-color-hover: #eee;


// form
$form-width          : 400px;
$form-height         : 600px;
$form-title-font-size: 50px;
$form-button-width   : 250px;

$form-width-mobile  : calc($content-width-mobile - $content-padding-side-mobile);

//
$filter-white: invert(0%) sepia(3%) saturate(0%) hue-rotate(257deg) brightness(104%) contrast(104%);
$filter-black: invert(95%) sepia(86%) saturate(0%) hue-rotate(294deg) brightness(107%) contrast(101%);

//
$color-light               : #000;
$color-light-disable       : #aaa;
$bg-color-light            : #fff;
$border-color-light        : #000;
$border-color-light-disable: #999;

$color-dark        : #fff;
$color-dark-disable: #333;
$bg-color-dark     : #121212;
$border-color-dark : #fff;
$border-color-dark-disable: #777;