@import 'src/common/styles/variables';

.wrapper {

  .container {
    max-width: $content-width;
    margin   : $header-height auto $loading-height;

    .content {
      height         : $content-height;
      padding        : $content-padding-top $content-padding-side $content-padding-bottom;
      display        : flex;
      justify-content: center;
    }
  }
}

// Tablet
// @media only screen and (min-width: 740px) and (max-width: 1024px) {

// }

// Mobile
@media only screen and (max-width: 740px) {
  .container {
    max-width: unset !important;
    width    : $content-width-mobile;
    margin   : $header-height-mobile auto $loading-height-mobile !important;

    .content {
      width  : $content-width-mobile;
      height : $content-height-mobile !important;
      padding: $content-padding-top-mobile $content-padding-side-mobile $content-padding-bottom-mobile !important;
    }
  }
}