@import 'src/common/styles/variables';

.wrapper {

  .container {
    max-width: $content-width;
    margin   : 0 auto 0;
    padding  : $header-height 0 $nav-height;

    .content {
      padding        : 0 $content-padding-side 0;
      display        : flex;
      justify-content: center;
    }

    &.light {
      color           : $color-light;
      background-color: $bg-color-light;
    }

    &.dark {
      color           : $color-dark;
      background-color: $bg-color-dark;
    }
  }
}

// Tablet
// @media only screen and (min-width: 740px) and (max-width: 1024px) {

// }

// Mobile
@media only screen and (max-width: 740px) {
  .container {
    max-width: unset !important;
    width    : $content-width-mobile;
    padding  : $header-height-mobile 0 $nav-height-mobile !important;

    .content {
      width     : $content-width-mobile;
      min-height: $content-min-height-mobile;
      padding   : $content-padding-top-mobile $content-padding-side-mobile $content-padding-bottom-mobile !important;
    }
  }
}