@import 'src/common/styles/variables';


.loading {
  width           : $loading-width;
  height          : $loading-height;
  border-radius   : 50%;
  position        : fixed;
  bottom          : 0;
  left            : 50%;
  transform       : translate(-50%, 0);
  color           : $loading-color;
  background-color: $bg-color-bar;
  box-shadow      : rgb(0 0 0 / 12%) 0px -5px 10px;

  img {
    width    : 100%;
    height   : 100%;
    animation: spinner 3s linear infinite;
  }

  @keyframes spinner {
    from {
      transform: rotate();
    }

    to {
      transform: rotate(360deg);
    }
  }


  &.pause {
    img {
      animation-play-state: paused;
    }
  }
}

// Mobile
@media only screen and (max-width: 740px) {
  .loading {
    width           : $loading-width-mobile;
    height          : $loading-height-mobile;
  }
}