@import 'src/common/styles/_variables.scss';

.item-search {
  display: flex;

  input {
    margin-right: 10px;
    padding     : 0 5px;
    font-size   : $default-font-size;
  }

  .search-btn {
    width          : 40px;
    height         : 30px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 50px;

    &:hover {
      cursor: pointer;
    }
  }

  &.light {
    color           : $color-light;
    background-color: $bg-color-light;

    input {
      color           : $color-light;
      background-color: $bg-color-light;
      border-bottom   : 1px solid $border-color-light-disable;

      &:focus {
        border-bottom: 2px solid $border-color-light;
      }

      &:not(:placeholder-shown) {
        border-bottom: 2px solid $border-color-light;
      }
    }
  }

  &.dark {
    color           : $color-dark;
    background-color: $bg-color-dark;

    input {
      color           : $color-dark;
      background-color: $bg-color-dark;
      border-bottom   : 1px solid $border-color-dark-disable;

      &:focus {
        border-bottom: 2px solid $border-color-dark;
      }

      &:not(:placeholder-shown) {
        border-bottom: 2px solid $border-color-dark;
      }
    }
  }
}

// Tablet
// @media only screen and (min-width: 740px) and (max-width: 1024px) {

// }

// Mobile
@media only screen and (max-width: 740px) {
  .item-search {
    width: $content-inside-width-mobile;

    input {
      width    : 100%;
      font-size: 18px;
    }
  }
}