@import 'src/common/styles/_variables.scss';

.item-data {
  display       : flex;
  flex-direction: column;
  align-items   : center;
  gap           : 40px;

  .item-title {
    height     : 38px;
    font-size  : 25px;
    font-weight: 600;
  }

  .item-image {
    width          : 245px;
    height         : 245px;
    border-radius  : 5px;
    border         : 1px solid #000;
    display        : flex;
    justify-content: center;
    align-items    : center;

    img {
      width : 240px;
      height: 240px;
    }
  }

  .item-info {
    width          : $content-inside-width-mobile;
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;
    gap            : 10px;
    font-size      : 20px;

    .short-info {
      display: flex;

      .label {
        width      : 32%;
        font-weight: 600;
      }

      .data {
        width: 68%;
      }
    }

    .long-info {
      display       : flex;
      flex-direction: column;

      .label {
        width      : 100%;
        font-weight: 600;
      }

      .data {
        width       : 100%;
        padding-left: 15px;
      }
    }
  }
}