@import 'src/common/styles/variables';

.nav {
  width           : $nav-width;
  height          : $nav-height;
  position        : fixed;
  bottom          : 0;
  background-color: $bg-color-bar;
  box-shadow      : rgb(0 0 0 / 12%) 0px -5px 10px;

  .nav-wrapper {
    max-width      : $content-width;
    margin         : auto;
    display        : flex;
    justify-content: space-between;

    .nav-left {
      display: flex;
    }

    .nav-right {
      display: flex;
    }
  }
}

.nav-item {
  width          : $nav-item-width;
  height         : $nav-height;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  color          : $text-color-bar;

  &:hover {
    cursor          : pointer;
    background-color: $bar-item-hover-color;
  }

  &.active {
    color: $text-color-bar-active;
  }
}

// Tablet
@media only screen and (min-width: 740px) and (max-width: 1024px) {
  .nav {
    width : $nav-width-tablet;
    height: $nav-height-tablet;
  }

  .nav-item {
    width : $nav-item-width-tablet;
    height: $nav-height-tablet;
  }
}

// Mobile
@media only screen and (max-width: 740px) {
  .nav {
    width : $nav-width-mobile;
    height: $nav-height-mobile;
  }

  .nav-item {
    width : $nav-item-width-mobile;
    height: $nav-height-mobile;
  }
}