@import 'src/common/styles/variables';

.manage-table {
  width: 80%;

  .table {
    width: 100%;

    .table-head {
      .table-row {
        display: flex;
        border : 1px solid #000;

        .name-column {
          width          : 80%;
          height         : 35px;
          padding        : 0 15px;
          display        : flex;
          justify-content: center;
          align-items    : center;
          border         : 1px solid #000;
        }

        .view-column {
          width          : 20%;
          height         : 35px;
          margin         : auto;
          display        : flex;
          justify-content: center;
          align-items    : center;
          border         : 1px solid #000;
        }
      }
    }

    .table-body {
      .table-row {
        display   : flex;
        border    : 1px solid #000;
        border-top: none;

        .name-column {
          width          : 80%;
          height         : 35px;
          padding        : 0 15px;
          display        : flex;
          align-items    : center;
          border         : 1px solid #000;
          border-top     : none;

        }

        .view-column {
          width          : 20%;
          height         : 35px;
          margin         : auto;
          display        : flex;
          justify-content: center;
          align-items    : center;
          border         : 1px solid #000;
          border-top     : none;

          .view-btn {
            width          : 28px;
            height         : 28px;
            display        : flex;
            justify-content: center;
            align-items    : center;
            border         : 2px solid #000;
            border-radius  : 3px;

            &:hover {
              cursor          : pointer;
              background-color: $bg-color-hover;
            }
          }
        }
      }
    }


  }
}

table,
th,
td {
  border: 2px solid #000;
}